<!DOCUTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>로그인</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
		<meta name="_csrf" th:content="${_csrf.token}">
        <script type="text/javascript" src="/js/jquery-3.6.4.min.js"></script>
    </head>
    <body>
    	<div>
			<label for="email">이메일 : </label>
    		<input id="email" type="text"/>
    		<br/>
    		<label for="password">비밀번호 : </label>
    		<input id="password" type="password"/>
    		<br/>
    		<button id="loginButton">로그인</button>
    	</div>
    </body>
    <script>
    	let loginPage = {
    			login : function() {
    				
    				let email =	$("#email").val();
    				let password = $("#password").val();
    				
    				let data = {
    						email,
    						password
    				}
    				
    				$.ajax({
    					url : "/login",
    					method : "POST",
    					data : JSON.stringify(data)
    				})
    			},
    	}
    
    	$(document).ready(function() {
    		$("#loginButton").click(loginPage.login);
    	});
    </script>
</html>
